<div class="container-fluid form_bg">
	<div class="row">
		<div class="col-sm-6 col-md-offset-1" >
			<div>
				<h1>New promo</h1>

				<%= render 'form' %>
				<br>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="side_form">
				Remember to keep your discounts updated.
				You want to build credibility and integrity.
				Right?
			</div>
		</div>
	</div>
</div>


